<html>
  <head>
    <script>
      function downloadPlaylist() {
        alert ("pending...");
        var video_ids = [];
        for (var i of playlistContent) {
          if (i.getAttribute("data-shoulddownload"))
            video_ids.push(i.getAttribute("data-videoid"));
        };
        var downloadURL = "https://tattered-lead-archaeopteryx.glitch.me/dlplaylist?video_ids="+JSON.stringify(video_ids)+"&playlist_name="+contents.playlistTitle;
        alert (downloadURL);
        window.open(downloadURL);
      };
      function windowOnLoad(contents) {
      window.contents = contents;
      var playlistContent = document.getElementById("playlistContainer").children;
      var downloadButton = document.getElementById("download");
      for (var i in playlistContent) {
      //playlistContent[i].videoId = window.contents.contents[i].playlistVideoRenderer.videoId;
      //playlistContent[i].shouldDownload = true;
      playlistContent[i].style.backgroundColor = "#42f578";
      playlistContent[i].onclick = function changeColors(e) {
        if (this.style.backgroundColor != "rgb(66, 245, 120)") {
          this.style.backgroundColor = "rgb(66, 245, 120)";
          this.shoulddownload = true;
        } else {
          this.style.backgroundColor = "rgb(245, 66, 66)";
          this.shoulddownload = false;
        }
      };
      }
      };
    </script>
    <style>
      body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      }
      a {
      text-decoration: none;
      color: black;
      }
      h1 {
      -ms-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      top: 15;
      background-color: white;
      border-bottom: 1px solid grey;
      width: 100%;
      text-shadow: 3px 1px 4px grey;
      text-align: center;
      font-size: 40px;
      height: 100px;
      padding-top: 20px;
      box-shadow: 1px 1px 18px grey;
      position: absolute;
      }
      h3 {
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 40px;
      text-decoration: none;
      }
      h4 {
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 65px;
      text-decoration: none;
      font-weight: 400;
      background-color: rgba(255, 35, 35, .7);
      width: 400px;
      text-align: center;
      border-radius: 6px;
      padding: 2px;
      }
      #playlistContainer {
      margin-top: 125px;
      height: calc(100% - 125px);
      width: 100%;
      overflow-y: scroll;
      word-wrap: break-word;
      background-color: white;
      }
      #initialLoading {
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      position: relative;
      margin: auto;
      }
      #playlistContent {
      width: 100%;
      overflow-x: hidden;
      }
      .playlistContentContainer {
      height: 94px;
      width: calc(100% - 40px);
      overflow-x: hidden;
      cursor: pointer;
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      box-shadow: 1px 1px 6px grey;
      border-radius: 6px;
      margin-right: 20px;
      margin-left: 20px;
      background-color: #42f578;
      }
      .playlistContentThumbnail {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      }
      #download {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 15;
        text-align: center;
        cursor: pointer;
        width: 100px;
        height: 50px;
        border: solid 1px grey;
        border-radius: 6px;
        background-color: white;
      }
    </style>
    <link
      id="favicon"
      rel="icon"
      href="https://i.ibb.co/WW98p14/Project-Drawing-16310933759254199759.png"
      type="image/x-icon"
      />
  </head>
  <body>
    <h1>
      Download Youtube Playlists
      <h3>
        with <a href="/">tattered-lead-archaeopteryx.glitch.me</a>
      </h3>
      <a href="https://youtube.com/playlist?list=<%= contents.playlistId %>" target="_blank">
        <h4 style="cursor: pointer;">
          <%= contents.playlistTitle %>
        </h4>
      </a>
      <button id="download" onclick="javascript:downloadPlaylist()">   
        <p>
          Download
        </p>
      </button>
    </h1>
    <div id="playlistContainer" style="width: 100%;">
      <!--<img id="initialLoading" src="https://wpamelia.com/wp-content/uploads/2018/11/loading-hourglass.gif"/>-->
      <% contents.contents.forEach((playlistContent) => { %>
      <div class="playlistContentContainer" data-videoid="<%= playlistContent.playlistVideoRenderer.videoId %>" data-shoulddownload="true">
        <img src="<%= playlistContent.playlistVideoRenderer.thumbnail.thumbnails[0].url %>"" class="playlistContentThumbnail" />
        <p class="playlistContentVideoTitle" style="width: calc(100% - 175px); float: right; word-wrap: break-word;">
          <%= playlistContent.playlistVideoRenderer.title.runs[0].text %>
        </p>
      </div>
      <br>
      <% }); %>
    </div>
    <script>
      windowOnLoad(JSON.parse(`<%= JSON.stringify(contents) %>`.replaceAll("<", "&lt;").replaceAll(">", "&gt;").replaceAll("&#34;", "\"").replaceAll("&quot;","\"")))
    </script>
  </body>
</html>